---
import { Layout } from "my-theme:layouts";
---

<Layout>
  <div>
    The <code>bg-red-500</code> class works because it is used in <code
      >src/pages/index.astro</code
    > (here) within the playground project.
  </div>
</Layout>
